/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************** End of reset**************************************************************************************************************************************/
:root{
    /* color scheme */
    --font-light:#fdfdf8;
    --font-dark:#131212;
    --background-primary:#fffefe;
    --background-secondary:#fafafa;
    --background-transparent-dark:#070707c1;
    --btn-primary:#596c49;   
    --focus-valid:#596c49;   
    --focus-invalid:#c22400;   
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    /* End Of color scheme */
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    background-color: var(--btn-primary);
    border: 1px solid rgb(49, 85, 49);
    color: var(--font-light);
    box-shadow: 2px 2px 2px #aeaeae;
    
}

button:active{
    transform: scale(1.05,1.025);
    background-color: #596c49e6;
}

@media screen and (orientation: landscape) {
    .img-container{
        width: var(--graphics-width);
        height: var(--graphics-height);
        overflow: hidden;
    } 
    
    
    .logo-container{
        --logo-font-size: calc(0.09 * var(--graphics-width));
        width: var(--graphics-width);
        position: absolute;
        top: var(--logo-top);
    }
    .main-container{
        --graphics-width:40vw;
        --graphics-height:100vh;
        --logo-height: 15vh;
        --logo-top: 40vh;
        --logic-content-width: 60vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .form-row{
        flex-direction: row;
        justify-content: flex-start;
    }
    .logic-container{
        justify-content: center;
        width: calc(var(--logic-content-width)*0.975);
        gap: 40px;
    }
    .graphics{

        height: 100vh;
        position:fixed;
        align-self: flex-start;
    }
}


@media screen and (orientation: portrait) {
    .img-container{
        width: var(--graphics-width);
        height: var(--graphics-height);
        overflow: hidden;
    } 
    .logo-container{
        --logo-font-size: calc(0.09 * var(--graphics-width));
        width: var(--graphics-width);
        position: absolute;
        top: var(--logo-top);
    }
    .main-container{
        --graphics-width:100vw;
        --logic-content-width: 100vw;
        --graphics-height:50vh;
        --logo-height: 15vh;
        --logo-top: 20vh;
        display: flex;
        flex-direction: column;
    }

    .form-row{
        flex-direction: column;
    }
    .logic-container{
        width: 100vw;
        gap:30px
    }
    .graphics{

        position:relative;
        align-self: flex-start;
    }
    
}

#signup-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-container{
    height: max(2 * var(--logo-font-size), 1.5 * var(--logo-height));
    position: absolute;
    background-color: var(--background-transparent-dark);
    color: var(--font-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--logo-font-size);
}



.logo-container span{
    padding-left: 10px;
}

.main-container{
    background-color: var(--background-secondary);
}

.logic-container{
    flex: 1;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plain-text-container{
    width: clamp(30ch, 80%, 90ch);
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.panel{
    font-family: var(--font-family);
    width:90%;
    box-shadow: 8px 8px 7px #aeaeae;
    background-color: var(--background-primary);
    border: 0.2px solid rgb(194, 194, 194);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: min(3rem,3vh);
    padding-inline: clamp(4rem,4vw,600px);
    box-sizing: border-box;
    
}

.panel .panel-header{
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
    
    
}

.panel .btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.panel button{
    width: clamp(30ch,40%,15rem);
    border-radius: 8px;
    min-height: 2.5rem;
    font-size: calc(0.5* clamp(1.5rem, 2vw, 2.5rem));
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (orientation: landscape) {
    .form-row{
        flex-direction: row;
        justify-content: space-between;
        
    }
    .form-element{
        width: 45%;
    }
}


@media screen and (orientation: portrait) {
    .form-row{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    
}

input + div{
    height: 1rem;
    font-size: calc(0.5* clamp(1.5rem, 2vw, 2.5rem));
}

.form-row{
    display: flex;
}

.form-element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valid-inp{
    color: green;
}

.invalid-inp{
    color: red;
}



.focus{
    background-color: var(--background-primary);
    border-color: var(--btn-primary);
    outline-color: var(--btn-primary);
    border-width: 2px;
    box-shadow: 1px 1px 6px var(--btn-primary);
}

.focus-valid{
    border-color: var(--focus-valid);
    outline-color: var(--focus-valid);
}
.focus-invalid{
    border-color: var(--focus-invalid);
    outline-color: var(--focus-invalid);
}


.empty{
    background-color: var(--background-primary);
    border-color: black;
    outline-color: black;
    outline-width: 0px;
    border-width: 0.5px;
}

.filled{
    background-color:rgb(200, 200, 200);
    border-color: black;
    outline-color: black;
    border-width: 0.5px;
    outline-width: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-internal-autofill-selected {
    background-color:rgb(200, 200, 200);
}